* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --text-area-height: 10vh;
  --gap: 5vw;
}

body {
  font-family: "Nunito Sans", sans-serif;
  min-height: 100vh;
}

h1 {
  text-align: center;
  padding: 5vh;
}

nav {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  align-items: center;
}

#controls{
  display: flex;
}

#container {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  align-items: center;
  justify-items: center;
}

textarea {
  padding: 5px;
}

#playground {
  display: flex;
}

#unsplash-container {
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(4, 1fr);
}

.img {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
