* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

div[id^="container"] {
  border: 1px solid goldenrod;
  overflow: hidden;
}

:root {
  --text-area-height: 10vh;
  --gap: 5vw;
}

body {
  min-height: 100vh;
}

nav {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  align-items: center;
}

h1 {
  text-align: center;
  padding: 5vh;
}

#container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: var(--text-area-height) 1fr;
  gap: var(--gap);
  align-items: center;
  justify-items: center;
}

#user-input {
  height: var(--text-area-height);
  align-self: start;
}

textarea {
  padding: 5px;
}

#unsplash-container {
  /* justify-self: flex-start; */
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(4, 1fr);
}

.img {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
